<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <title>Main Messages Page</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>CodingDojo Wall</h1>
        </div>
        <div class="col">
            <p align="right">Welcome {{request.session.first_name}}</p>
        </div>
        <div class="col">
            <a href="{% url 'log_out' %}" style="float:right">Log out</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        <form id="message_form" action="{% url 'add_message' %}" method="POST">
            {% csrf_token %}
                {% for field in mform %}
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="{{ field.id_for_label }}_message">{{ field.label }}</label>
                        <input class="form-control"
                               id="{{ field.id_for_label }}_message"
                               name="{{ field.name }}"
                               type="{{ field.widget.input_type }}"
                               {% for attr, value in field.field.widget.attrs.items %}
                               {{ attr }}="{{value}}"
                               {% endfor %}
                               {% if field.value != None %}value="{{ field.value }}"{% endif %}
                               {% if field.field.required %}required{% endif %}>
                        <p id="{{ field.name }}_error_message">
                        {% if mform.is_bound %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    {{ error }}<br>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        </p>
                    </div>
                </div>
            <button type="submit" name='submit'>Post a message</button>
        </form>
    </div>
    <div class="col-md-12">
        {% for message in messages %}
            <p>{{ message.user_id.first_name }} {{ message.user_id.last_name }} - {{ message.created_at|date:'F, j S Y' }}</p>
            <p>{{ message.message }}</p>
                {% for comment in message.comments.all %}
                <p>{{ comment.user_id.first_name }} {{ comment.user_id.last_name }} - {{ comment.created_at|date:'F, j S Y' }}</p>
                <p>{{ comment.comment }}</p>
                {% endfor %}
            <form action="{% url 'add_comment' %}" method="POST">
                {% csrf_token %}
                    {% for field in cform %}
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="{{ field.id_for_label }}_comment">{{ field.label }}</label>
                            <input class="form-control"
                                   id="{{ field.id_for_label }}_comment"
                                   name="{{ field.name }}"
                                   type="{{ field.field.widget.input_type }}"
                                   {% for attr, value in field.field.widget.attrs.items %}
                                   {{ attr }}="{{value}}"
                                   {% endfor %}
                                   {% if field.value != None %}value="{{ field.value }}"{% endif %}
                                   {% if field.field.required %}required{% endif %}>
                            <p id="{{ field.name }}_error_comment">
                            {% if cform.is_bound %}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        {{ error }}<br>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            </p>
                        </div>
                    </div>
                <button type="submit" name='submit' value="{{message.id}}">Post a message</button>
            </form>
        {% endfor %}
    </div>
</div>
</body>
</html>